[mysqld]
# Define o timezone para UTC
default_time_zone = '+00:00'

# Define o charset padrão para UTF-8 (mais seguro e moderno)
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Permite conexões remotas (necessário para o Docker)
bind-address = 0.0.0.0

# Configurações para otimizar o uso de memória e performance básica
max_connections = 200
innodb_buffer_pool_size = 256M

# Evita warnings de modo sql
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
